<table class="table">
  <thead>
    <tr>
      <th>Nr.</th>
      <th *ngFor="let item of config">
        {{item.text || item.key|uppercase}}
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data; let idx=index">
      <td>{{idx+1}}</td>
      <td *ngFor="let col of config">
        <div [ngSwitch]="col.type">
          <div *ngSwitchCase="'input'">
            <input type="text" [(ngModel)]="item[col.key]">
          </div>
          <div *ngSwitchCase="'image'">
            <img [src]="item[col.key]" width="40">
          </div>
          <div *ngSwitchCase="'button'">
            <button (click)="onAction(col.text, item.id)">{{col.text}}</button>
          </div>
          <div *ngSwitchDefault>
            {{item[col.key]}}
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
