<ng-template #content>
  {{f.value|json}}
  {{f.valid}}
  <form #f="ngForm" id="add-item-form" class="modal-body bg-light">
    <div class="mb-3">
      <input class="form-control" required minlength="5" type="text" placeholder="title" name="title" ngModel>
    </div>
    <div class="mb-3">
      <input class="form-control" required type="number" placeholder="price" name="price" ngModel>
    </div>
    <div class="mb-3">
      <select name="category" required class="form-control" ngModel>
        <option value="" disabled selected>category</option>
        <option value="food">food</option>
        <option value="clothes">clothes</option>
      </select>
    </div>
    <hr>
    <button type="button" [disabled]="!f.valid" (click)="sendItem(f.value)" class="btn btn-secondary">
      send item
    </button>
  </form>
</ng-template>

<button (click)="open(content)">add item</button>
